* {
    scrollbar-color: rgba(11, 20, 26, 0.2) rgba(255, 255, 255, .1);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(11, 20, 26, 0.2);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .1);
}

.chat {
    font-family:  UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    height: 89vh;
    min-height: 450px;
    min-width: 400px;
    background-color: #d1d7db;
}

.backImg {
    flex: 0.7;
    height: 89vh;   
    width: 50vw;
}

.chat_header {
    display: flex;
    flex-direction: row;
    flex: 0.7;
    height: 6vh;
    min-height: 57px;
    min-width: 392px;
    align-content: center;
    align-items: left;
    background-color: #f0f2f5;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room_users {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    margin-top: 6px;
    margin-left: 3px;
    margin-bottom: -11px;
    padding-bottom: 0px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group_icon {
    margin: 8px;
    align-content: center;
}

.roomName {
    margin-top: 2px;
    margin-left: 3px;
    font-size:16px;
    font-weight: 400;
    line-height: 21px;
}

.usersGroup {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    margin: 3px;
    font-size: small;
}

.username {
    margin-right: 3px;
    min-height: 20px;
    font-size: 13px;
    color: #667781;
}

.userTyping {
    margin-left: 3px;
    padding-top: 2px;
    min-height: 20px;
    font-size: 13px;
    color: #667781;
}

.chat_body {
    flex: 1;
    background-color: rgba(255,255,255,1.00);
    overflow-y: hidden;
}

.styles_scrollable-div__prSCv{
    overflow-x: hidden;
}
.chat_message {
    line-height: 19px;
    font-size: 14.2px;
    position: relative;
    padding: 6px 7px 8px 9px;
    margin-bottom: 0px;
    margin-left: 9%;
    border-radius: 10px;
    width: fit-content;
    background-color:rgb(239, 243, 244);
    overflow-wrap: anywhere;
    white-space: pre-line;
}


.chat_reciever{
    padding: 6px 7px 8px 9px;
    font-size: 14.2px;
    margin-left: auto;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #1D74F5;
    border-radius: 10px;
    position: relative;
    overflow-wrap: anywhere;
    white-space: pre-line;
    width: fit-content;
    display: flex;
    justify-content: flex-end;

}

.chatlogo {
    display: flex;
    flex-direction: column;
    flex: 0.7 1;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#chatLogo--chat {
    margin-top: -148px;
}

.message {
    margin: 2px 5px 2px 5px;
    display: flex;
    justify-content: flex-start;
}

.chat_reciever > .chat_name {
    display: none
} 

@media screen and (min-width: 1301px) {
    .chat_reciever {
        max-width: 65%;
    }
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
    min-width: 200%;
    margin-left: -7px;
}


.chat_timestamp {
    margin-top: 5px;
    font-size: 0.6875rem;
    height: 15px;
    line-height: 15px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    color: #667781;
}

.chat_timestamp---reciever {
    margin-top: 5px;
    margin-left: 9%;
    font-size: 0.6875rem;
    height: 15px;
    line-height: 15px;
    width: auto;
    display: flex;
    color: #667781;
}

.message-time {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    margin-bottom: 15px;
}

.message-time--reciever {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    margin-bottom: 15px;
}


.chat_footer {
    display: flex;
    flex-direction: row;
    height: 60px;
    min-height: 48px;
    align-content: center;
    align-items: center;
    background-color: #f0f2f5;
    justify-content: center;
    
}

.chat_footer > form {
    display: flex;
    flex: 1;
}

.chat_footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    margin-left: 10px;
}

.MuiSvgIcon-root {
    padding: 10px;
    cursor: pointer;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    align-items: center;
}

.userParticipant {
    padding-left: 10px;
}

.sidebar--second {
    display: none;
}

@media only screen and (max-width: 600px) {

    .chat_body {
        height: 464px;
        max-width: 902px;
        padding-left: 1%;
    }

    .chatlogo {
        height: 580px;
        max-width: 390px;
    }


}

@media only screen and (min-width:601px) and (max-width: 767px) {

    .chat_body {
        height: 387px;
        max-width: 902px;
        padding-left: 1%;
    }

    .chatlogo {
        height: 504px;
        max-width: 490px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 992px) {

    .chat_body {
        height: 387px;
        max-width: 902px;
        padding-left: 1%;
    }

    .chatlogo {
        height: 504px;
        max-width: 902px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .chat_body {
        height: 377px;
        max-width: 902px;
        padding-left: 1%;
    }

    .chatlogo {
        height: 494px;
        max-width: 902px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {

    .chat_body {
        height: 468px;
        max-width: 902px;
    }

    .chatlogo {
        height: 595px;
        max-width: 902px;
    }
}

@media only screen and (min-width: 1601px) {
    .chat_body {
        height: 680px;
        width: 1200px;
    }

    .chatlogo {
        height: 800px;
        width: 1200px;
    }
}