header {
    height: 70px;
    min-width: 745px;
    display: flex;
    color: #ffffff;
    background-color: #004980;
}

.container--header{
    display: flex;
    flex-direction: row; 
    align-content: flex-start;
    align-items: center;
}

@media(max-width: 800px) {
    .container {
     font-size: 14px;
    }
   }

.item {
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 3;
}

@media(max-width: 800px) {
    .item {
        margin-left: 0px;
    }
}

.item#name {
    margin-left: 5px;
}

.item#admin {
    margin-left: 5px;
    cursor: pointer;
}

@media(max-width: 800px) {
    .item#admin  {
        margin-left: 0px;
    };
    
}

@media(max-width: 800px) {
    .item#name  {
        margin-left: 0px;
        margin-right: 20px
    };
}



.item#adminicon {
    cursor: pointer;
}

#text {
    margin-right: 1px;
    margin-left: auto;
    text-align: center;    
    margin-top: 26px;  
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 800px) {
    #text {
     font-size: 14px;
    }
   }

.logout {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 45px;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 800px) {
    .logout  {
        margin-right: 0px;
        margin-left: 3px;
    }
   }


